<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="yanoll.mapper.Enquire_ReplyMapper">

  <insert id="create">
  insert into enquire_reply (r_seq,r_contents,r_write,e_seq)
  values(enquire_reply_r_seq.nextval,#{r_contents},#{r_write},#{e_seq})
  
  </insert>
  
  <select id="list" resultType="Enquire_Reply">
  select*from enquire_reply where e_seq=#{e_seq} order by r_seq desc
  </select>



</mapper>