<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="yanoll.mapper.managingapper">

	<select id="get_total_rooms" parameterType="String">
		select room_count
		from hotel
		where h_id = #{h_id}
	</select>
	
	
	
	
</mapper>
