<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


 <mapper namespace="yanoll.mapper.order">

 	<select id="orderCheck" resultType="OrderVO" parameterType="OrderVO">
 	 <![CDATA[
 	 
 		select DISTINCT  hr.pic_room_url, ho.h_name, ty.room_price, ho.h_address, ho.h_phonenum, ho.h_no
		  from hotel ho inner join hotel_room hr
		  on ho.h_no = hr.h_no
		  join type ty
		  on ty.room_type = hr.room_type
		  where ho.h_no = #{h_no} and ty.h_no = #{h_no} and hr.room_type = #{room_type}
 	 
 	 ]]>
 	
 	</select>
 	
 	 <insert id="Orderdata" parameterType="OrderVO">
		insert into hotel_order (order_num, h_no, start_day, end_day, order_price, order_name,
		userNo, p_condition, order_date, user_phonenumber,room_type)
			values(hotel_order_order_seq.nextval, #{h_no}, #{start_day}, #{end_day}, 
			#{order_price}, #{order_name}, #{userNo}, #{p_condition}, sysdate, #{user_phonenumber},
			#{room_type} )
	</insert> 		    
	    

	<select id="userNo" parameterType="String" resultType="int" >
  		select userNo from users where id = #{id}
   	</select>  
 	
		
 </mapper>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 