<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	
  <package name="yanoll.enquire.domain"/>
  <package name="yanoll.review.domain"/>
  <package name="yanoll.search.domain"/>
  <package name="yanoll.user.domain"/>
  <package name="yanoll.room.domain"/>
  <package name="yanoll.search.dto"/>
  <package name="yanoll.order.domain"/>
  <package name="yanoll.order.dto"/>
  <package name="yanoll.managing.dto"/>
  <package name="yanoll.managing.domain"/>
  <package name="yanoll.plsql.mappers"/>
	</typeAliases>
	
	
	<mappers>
		<mapper class="yanoll.plsql.mappers.PlsqlMapper"/>
	</mappers>
</configuration>









